matplotlib==3.10.0
numpy==1.26.4
opencv-python-headless==4.7.0.72
openslide-python @ file:///home/conda/feedstock_root/build_artifacts/openslide-python_1745904031001/work
pytest==8.4.2
pytest-repeat==0.9.4
scikit-image==0.21.0
scikit-learn @ file:///croot/scikit-learn_1753427383173/work
scipy==1.14.1
segmentation-models-pytorch==0.3.1
tifffile==2023.4.12
timm==0.4.12
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
